<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>CRUD Node Mysql</title>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.1.3/vapor/bootstrap.min.css"
        />
    </head>
    <body>
        <h1>CRUD Node Mysql</h1>
    </body>
</html>
