<footer class="container mt-auto py-3">
    <div class="row text-center d-flex">
        <p title="Send your PR to fix footer in bottom">
            © Copyright <%= new Date().getFullYear() %>, with L♥ve Tony ID
        </p>
    </div>
</footer>
</body>
</html>
